html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, purple, indigo);
  font-family: sans-serif;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 1000px;
  max-width: 90%;
  min-height: 350px;
  text-align: center;
}

.card h2 {
  margin: 0 0 10px 0;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.card h4 {
  margin: 0 0 10px 0;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
}

.card input,
.card button,
.card select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 12px;
}

.card input {
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.card button {
  border: none;
  background-color: purple;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 40px 0 20px 0;
}

.card select {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  font-size: 16px;
}

.card button:hover {
  background-color: darkviolet;
}
