html,
body {
  height: auto;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.page-center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
}
